body {
    margin: 0;
}

nav>ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    list-style: none;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.nav-right {
    display: flex;
    align-items: center;
}

.create-spot-link {
    margin-right: 20px;
}

.profile-button {
    background: none;
    border: none;
    color: rgb(113, 113, 113);
    font-size: 32px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 21px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.profile-button:hover {
    cursor: pointer;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
}

.profile-button>svg {
    margin: 0 6px;
}

.profile-button .fa-bars {
    font-size: 16px;
}

.profile-dropdown {
    position: absolute;
    right: 80px;
    border: 1px solid rgb(221, 221, 221);
    margin-top: 10px;
    padding: 8px 0;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
    border-radius: 5px;
    background: white;
}

.profile-dropdown>li {
    padding: 20px;
    min-width: 150px;
}

.profile-dropdown>li:hover {
    background: rgb(241, 241, 241);
    cursor: pointer;
}

.manage-spots {
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

.home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(31, 97, 141);
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.hidden {
    display: none;
}

.logout-button-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button {
    margin-top: 8px;
    padding: 10px;
    background: rgb(31, 97, 141);
    color: white;
    border-radius: 5px;
    border: none;
}

.logout-button:hover {
    background: rgb(35, 119, 175);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
    cursor: pointer;
}
