* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#modal-content {
    border-radius: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.login-form h1 {
    color: rgb(31, 97, 141);
    padding-left: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.login-form input {
    padding: 8px;
    margin-top: 8px;
    border: 1px solid rgb(221, 221, 221);
}

.login-form button {
    width: 94%;
    padding: 10px;
    margin: 10px;
    background: rgb(31, 97, 141);
    color: white;
    border-radius: 5px;
    border: none;
    align-self: center;
}

.login-form button:hover {
    background: rgb(35, 119, 175);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
    cursor: pointer;
}
